@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes and japes</h1>
    <p>Come see some gags, some giggles, some laughs, some yips, some tee hee hees</a>.</p>
</div>
